<app-navbar></app-navbar>

<div class="row contacts-container d-flex align-items-center">
  <div class="col-6 d-flex p-0">
    <h4 class="text-light fw-bold">Contacts List</h4>
    <span class="total-contacts-span"> {{ contacts.length }} Contacts </span>
  </div>
  <div class="col-6 p-0 d-flex justify-content-end">
    <button class="add-contact-btn" routerLink="/add-contact">+ Add new</button>
  </div>
</div>

<!-- Vacio -->
<div class="container mt-5" *ngIf="contacts.length == 0">
  <div class="jumbotron text-center">
    <p class="lead fs-2 fw-bold">This section is empty!</p>
    <p class="fw-normal">When you add contacts, they will appear here.</p>
  </div>
</div>
<!-- Tabla -->
<div class="table-container" *ngIf="contacts.length != 0">
  <table id="table-id">
    <thead>
      <tr>
        <th scope="col-1">Fav</th>
        <th scope="col-1">Id</th>
        <th scope="col-3">Name</th>
        <th scope="col-3">Telephone number</th>
        <th scope="col-2">Cellphone number</th>
        <th scope="col-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of displayedContacts">
        <td (click)="toggleFavorite(contact)">
          <img
            *ngIf="contact.favorite == false"
            src="../../../assets/favorites-icon.svg"
            alt="no-fav"
            style="cursor: pointer"
          />
          <img
            *ngIf="contact.favorite == true"
            src="../../../assets/heart-fill.svg"
            alt="fav"
            style="cursor: pointer"
          />
        </td>
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.telephoneNumber }}</td>
        <td>{{ contact.celularNumber }}</td>
        <td>
          <span
            class="text-success me-3"
            style="cursor: pointer"
            routerLink="/contact-details/{{ contact.id }}"
          >
            <img
              src="../../../assets/show-icon-white.png"
              alt="view"
              width="24"
            />
          </span>
          <span
            class="text-primary me-3"
            style="cursor: pointer"
            routerLink="/edit-contact/{{ contact.id }}"
          >
            <img
              src="../../../assets/edit-icon-white.png"
              alt="edit"
              width="24"
            />
          </span>
          <span
            class="text-danger"
            style="cursor: pointer"
            (click)="
              contact.id !== undefined ? confirmarEliminacion(contact) : null
            "
          >
            <img
              src="../../../assets/trash-icon-white.png"
              alt="delete"
              width="24"
            />
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" *ngFor="let page of pages">
        <a
          class="page-link me-2"
          (click)="changePage(page)"
          style="cursor: pointer"
          >{{ page }}</a
        >
      </li>
    </ul>
  </nav>
</div>
