<div class="login-container">
  <div class="login-message">
    <h2>AgendApp</h2>
    <p>
      With our app you will be able to save all the contact information of your
      family, friends, partners and more!
    </p>
  </div>
  <form [formGroup]="userLoginForm" (ngSubmit)="onLoginSubmit()">
    <div>
      <label for="userName">Nombre de usuario:</label>
      <input
        type="text"
        id="userName"
        formControlName="userName"
        class="inputForm"
      />
    </div>

    <div>
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="inputForm"
      />
    </div>

    <button
      type="submit"
      [disabled]="!userLoginForm.valid"
      class="button-submit"
    >
      Login
    </button>

    <p>
      Still don't have an account?
      <span class="span" routerLink="/signup"> Sign Up </span>
    </p>
  </form>
</div>
