<div class="signup-container">
  <div class="signup-message">
    <h2>Register</h2>
    <p>
      Our app is simple. You register, upload the information you want and thats
      it.
    </p>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" formControlName="name" class="inputForm" />
    </div>

    <div>
      <label for="lastName">Apellido:</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="inputForm"
      />
    </div>

    <div>
      <label for="userName">Nombre de usuario:</label>
      <input
        type="text"
        id="userName"
        formControlName="userName"
        class="inputForm"
      />
    </div>

    <div>
      <label for="email">Correo electrónico:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="inputForm"
      />
    </div>

    <div>
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="inputForm"
      />
    </div>

    <button type="submit" [disabled]="!userForm.valid" class="button-submit">
      Sign up
    </button>
    <p class="p">
      Already have an account?
      <span class="span" routerLink="/login"> Login </span>
    </p>
  </form>
</div>
